::backdrop {
    color: rgb(165, 165, 165)
  }
  .main-header
    {
      color: rgb(107, 191, 202);
      font-size: 150%;
      text-align: center;
      text-decoration: solid;
    }
    .header-subtitle {
      color: rgb(95, 91, 91);
      font-size: 110%;
      text-align: left;
      text-decoration: Bold;
    }
    .container {
      color: black;
      line-break: strict;
    }
    .container1 {
      color: black;
      line-break: strict;
    }